@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Antonio', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/HomePageBanner.jpg);
    background-position: center;
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    background-color: pink;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #27130a;
    text-decoration: none;
    font-size: 23px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #432b0f8e;
    display: block;
    margin: auto;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    Color: #0a0a27;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #977c63;
}

@media(max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #c1a891;
        height: 100vh;
        width:200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}


/*----- about me -----*/

.about {
    color: #27130a;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #27130a;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about-col{
    flex-basis: 31%;
    background: #E6C7C2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}



/*-----Projects-----*/

.projects {
    color: #27130a;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #27130a;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.projects-col{
    flex-basis: 31%;
    background: #E6C7C2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.projects-col:hover{
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
}


/*----- My Documents -----*/

.MyDocs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.MyDocs-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.Mydocs-col img{
   width: 100%; 
   display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s

}

.layer:hover{
    background: rgba(128,0,0,0.5);
}

.layer h3 a{
    width: 100%;
    font-weight: 500;
    color:#3a0826;
    font-size:26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    Position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 a{
    bottom: 49%;
    opacity: 1;
}


/*-----Footer-----*/
.footer{
    justify-content: space-between;
    background: #E6C7C2;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.Toggle{
    text-align: right;
    padding: 8px 12px;
    width: 100%;
}

button{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    right: 7%;
}

hr{ 
    width: 100%;
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: #27130a;
    margin-bottom: 50px;
}


/*
header {
    background-color: Antiquewhite;
   color: black;
   text-align: center

}

nav {
    background-color: darkseagreen;
   color: antiquewhite;
   text-align: center;
   font-family: "Montserrat", sans-serif;
   width: 100%;
   height: 70px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: Antiquewhite;
    color: black;
    text-align: center;
}

footer {
    background-color: Antiquewhite;
   color: black;
   text-align: justify;
   bottom: 0;
   
}

a:link {
   color: antiquewhite;
}

a:visited {
   color: Darksalmon;
}

a:hover {
   color: black;
}

a:active {
    color: lightskyblue;
}
 
* .arial { font-family: Arial; }
* .other { font-family: Fantasy; }